.section {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--color-border);
}

.section__title {
  height: var(--section-title-height);
  padding: 0 var(--section-padding-x);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.section__name {
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  color: var(--color-text-primary);
}

.section__count {
  color: var(--color-text-muted);
}
