.section {
  padding-bottom: 16px;
}

.section__title {
  height: var(--section-title-height);
  padding: 0 var(--section-padding-x);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.section__name {
  font-size: 1rem;
  font-weight: 600;
  line-height: 100%;
  color: var(--color-text-primary);
}
